body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    position: absolute;
    top: 10px;
    left: 10px;
}
.container {
    text-align: center;
}
h1 {
    margin-bottom: 20px;
}
p {
    margin-bottom: 20px;
}